beancount==2.0rc1
beautifulsoup4==4.6.0
bottle==0.12.13
chardet==3.0.4
google-api-python-client==1.6.2
httplib2==0.10.3
lxml==3.8.0
mypy==0.521
oauth2client==4.1.2
ply==3.10
py==1.4.34
pyasn1==0.3.2
pyasn1-modules==0.0.11
pytest==3.2.0
python-dateutil==2.6.1
python-magic==0.4.13
rsa==3.4.2
six==1.10.0
typed-ast==1.0.4
uritemplate==3.0.0
